<h3 class="mb-4">Personal Information</h3>
<p>
    <strong>Name:</strong>
    <%= Current.user.name %>
</p>

<p>
    <strong>Surname:</strong>
    <%= Current.user.surname %>
</p>

<p>
    <strong>Gender:</strong>
    <%= Current.user.gender %>
</p>

<p>
    <strong>Date of birth:</strong>
    <%= Current.user.dob %>
</p>

<p>
    <strong>Citizen id:</strong>
    <%= Current.user.citizen_id %>
</p>

<p>
    <strong>Address:</strong>
    <%= Current.user.address %>
</p>

<p>
    <strong>Contact number:</strong>
    <%= Current.user.contact_number %>
</p>