<h3 class="my-4">Update Test</h3>

<%= form_with model: @test, url: edit_test_path(@test), method: :patch, local: true do |form| %>
    <% if @test.actual_test_date.nil? %>
    <div class="mb-3 col-4">
        <%= form.label :actual_test_date, "Actual Test Date:", class: "form-label" %><br/>
        <%= form.date_field :actual_test_date, min: Date.today, class: 'form-control' %> 
    </div>
    <% end %>

    <div class="mb-3 col-4">
        <%= form.label :test_status, "Test Status:", class: "form-label" %><br/>
        <%= form.select :test_status, ['waiting', 'tested - waiting for result', 'tested - negative', 'tested - positive'], { }, {class: 'form-control'} %>
    </div>

    <div class="mt-3">
        <%= form.submit "Update Test", class: "btn btn-primary mb-3" %>
    </div>

<% end %>